.employeeGrid
{
margin-top:5px;
margin-bottom:5px;
margin-right:5px;
margin-left:5px;
padding:5px;
height:30vh;
border:1px solid black;
overflow:scroll;
}
.employeeGridHeader
{
text-align:right;
padding:5px;
}
.employeeGridSnoColumn
{
width:60px;
text-align:center;
}
.employeeGridIdColumn
{
width:200px;
text-align:center;
}
.employeeGridNameColumn
{
width:200px;
text-align:center;
}
.employeeGridDesignationColumn
{
width:200px;
text-align:center;
}
.employeeGridEditColumn
{
width:100px;
text-align:center;
}
.employeeGridDeleteColumn
{
width:100px;
text-align:center;
}
