.error
{
color:red;
}
.main-container
{
width:90hw;
height:auto;
border:1px solid black;
}
.header
{
margin:5px;
width:90hw;
height:55px;
border:1px solid black;
}
.logo
{
float:left;
}
.brand-name
{
margin-left:12px;
margin-top:11px;
margin-bottom:11px;
font-size:20pt;
float:left;
}
.logoutDivision
{
text-align:right;
margin-right:15px
}
.user
{
margin-top:22px;
}
.userName
{
font-weight:bold;

}
.content
{
margin:5px;
width:90hw;
height:73vh;
border:1px solid white;
}
.content-left-panel
{
margin:5px;
height:70vh;
float:left;
padding:5px;
border:1px solid black;
}

.content-right-panel
{
margin-top:5px;
margin-bottom:5px;
margin-right:5px;
margin-left:105px;
padding:5px;
height:70vh;
border:1px solid black;
overflow:scroll;
}

.footer
{
margin:5px;
width:90hw;
text-align:center;
height:auto;
border:1px solid white;
}
.label-title
{
margin-left:340px;
margin-top:30px;
margin-right:385px;
font-size:20pt;
color:white;
background:black;
padding:2px;
}
.administrator
{
width:auto;
height:40vh;
border:1px solid black;
margin-left:220px;
margin-right:240px;
margin-top:5px;
}
